@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #5a4742;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-soft-pink: #ff6b81;
  --color-ds-pink: #ffb2c4;
  --color-peach: #ffac8a;
  --color-cream: #fff3e6;
  --color-deep-brown: #5a4742;
  --color-soft-gray: #c7b8b4;
  --color-shadow-peach: #ffe1cc;
  --color-dark-gray: #696969;
  --color-faded-white: #fff7ed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #5a4742;
  }
}

.font-nunito {
  font-family: var(--font-nunito), sans-serif;
}

.font-baloo2 {
  font-family: var(--font-baloo2), sans-serif;
}

body {
  background: var(--color-faded-white);
  color: var(--foreground);
  font-family: var(--font-nunito);
}
