@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-soft-pink: #ff6b81;
  --color-peach: #ffac8a;
  --color-mint-green: #8fb39a;
  --color-cream: #fff3e6;
  --color-deep-brown: #5a4742;
  --color-hot-pink-hover: #e55270;
  --color-soft-gray: #c7b8b4;
  --color-shadow-peach: #ffe1cc;
  --color-dark-gray: #696969;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-nunito {
  font-family: var(--font-nunito), sans-serif;
}

.font-baloo2 {
  font-family: var(--font-baloo2), sans-serif;
}

body {
  background: var(--color-cream);
  color: var(--foreground);
  font-family: var(--font-nunito);
}
